<footer class="footer fixed-bottom">
       <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <script>
                    document.write(new Date().getFullYear())
                </script> © Gaiadhi
            </div>
            <div class="col-sm-6">
                Send questions and feedback to info&#64;gaiadhi.com
            </div>
            <div class="col-sm-3">
                <div class="text-sm-end d-none d-sm-block">
                    A Gaiadhi product
                </div>
            </div>
        </div>
     </div> 
</footer>
