<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>
                <ng-container *ngIf="Role=='admin'">
                    <li>
                        <a href="#" class="waves-effect" routerLink="/">
                            <i class="bx bx-home-circle"></i>
                            <span key="t-dashboards">Dashboard</span>
                        </a>
                    </li>
                    <li >
                        <a href="javascript: void(0);" class="waves-effect" routerLink="/ocr">
                            <i class="bx bx-tone"></i><span class="badge rounded-pill bg-info float-end"></span>
                            <span key="t-dashboards">Projects</span>
                        </a>
                    </li>
                    <li >
                        <a href="javascript: void(0);" class="waves-effect" routerLink="/ocr">
                            <i class="bx bx-tone"></i><span class="badge rounded-pill bg-info float-end"></span>
                            <span key="t-dashboards"> Data</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="waves-effect" routerLink="/aipredictionmodels">
                            <i class="bx bx-tone"></i><span class="badge rounded-pill bg-info float-end"></span>
                            <span key="t-dashboards"> AI Predictive Models</span>
                        </a>
                    </li>
                    <!--     <li>
                            <a href="javascript: void(0);" class="waves-effect" routerLink="/menu/submenulist">
                                <i class="bx bx-tone"></i><span class="badge rounded-pill bg-info float-end"></span>
                                <span key="t-dashboards"> Data Wrangling</span>
                            </a>
                         </li>
                         <li>
                            <a href="javascript: void(0);" class="waves-effect" routerLink="/menu/submenulist">
                                <i class="bx bx-tone"></i><span class="badge rounded-pill bg-info float-end"></span>
                                <span key="t-dashboards"> Data Annotation</span>
                            </a>
                         </li>
                         <li>
                            <a href="javascript: void(0);" class="waves-effect" routerLink="/menu/submenulist">
                                <i class="bx bx-tone"></i><span class="badge rounded-pill bg-info float-end"></span>
                                <span key="t-dashboards"> Synthetic Data </span>
                            </a>
                         </li>
                        </ul> 
                    </li> -->
                    <!--  <li>
                        <a href="javascript: void(0);" class="waves-effect" routerLink="/organization/list">
                            <i class="bx bx-tone"></i><span class="badge rounded-pill bg-info float-end"></span>
                            <span key="t-dashboards"> Organization</span>
                        </a>
    
                    </li> -->
                </ng-container>
             

              
               
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->



<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<!-- end main content-->
